<h2 class="formtitle">Edit Spartan <%= resource_name.to_s.humanize %></h2>

<br><br>

<div class="form1">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <div class="boxlab"><%=  f.label :first_name %><br /></div>
    <%= f.text_field :first_name, autofocus: true, class: "boxfield" %>
  </div>

  <div class="field">
    <div class="boxlab"><%= f.label :last_name %><br /></div>
    <%= f.text_field :last_name, autofocus: true, class: "boxfield" %>
  </div>

  <div class="field">
    <div class="boxlab"><%= f.label :email_address %><br /></div>
    <%= f.email_field :email, autofocus: true, class: "boxfield" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <br><br>
  <hr>
  <br><br><br>

  <div class="field">
    <div class="boxlab"><%= f.label :github_link %><br /></div>
    <%= f.text_field :github_link, autofocus: true, class: "boxfield" %>
  </div>

  <div class="field">
    <div class="boxlab"><%= f.label :linkedIn_link %><br /></div>
    <%= f.text_field :linkedin_link, autofocus: true, class: "boxfield" %>
  </div>

  <div class="field">
    <div class="boxlab"><%= f.label :Role %><br /></div>
    <%= f.text_field :position, autofocus: true, class: "boxfield" %>
  </div>

  <div class="field">
    <div class="boxlab"><%= f.label :profile_pic %><br /></div>
    <%= f.text_field :profile_pic, autofocus: true, class: "boxfield" %>
  </div>

  <br><br>
  <hr>
  <br><br><br>

  <div class="field">
    <div id="pwspecifc" class="boxlab"><%= f.label :password %> <i>(If changing)</i><br /></div>
    <%= f.password_field :password, autocomplete: "off", class: "boxfield" %>
    <% if @minimum_password_length %>
      <br />
      <em><div id="mintxt"><%= @minimum_password_length %> characters minimum </div></em>
      <br>
    <% end %>
  </div>

  <div class="field">
    <div class="boxlab"><%= f.label :password_confirmation %><br /></div>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "boxfield" %>
  </div>

  <div class="field">
    <div class="boxlab"><%= f.label :current_password %> <i>(To save your changes)</i><br /></div>
    <%= f.password_field :current_password, autocomplete: "off", class: "boxfield" %>
  </div>

  <div class="actions">
    <%= f.submit "Update Profile", class: "submit" %>
  </div>

<br><br>
<% end %>

<hr>
<br><br>

<h3 id="deltit">Account Deletion</h3>

<p id="deltit2">Delete Sparta Account? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "submit" %></p>

<br>

<%= link_to "Back to Home", projects_path, class: "submit" %>

<br><br><br>
<hr>
<br><br>

</div>
