
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :github_link %><br />
    <%= f.text_field :github_link, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :linkedin_link %><br />
    <%= f.text_field :linkedin_link, autofocus: true %>
  </div>


  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :profile_pic %><br />
    <%= f.text_field :profile_pic, autofocus: true %>
  </div>