
<% if @project.errors.any? %>
  <h3 class="error"><%= pluralize(@project.errors.count, "error") %> prohibited your project from being saved:</h3>

 
  
<% end %>

<div class="form1">
<%= form_for(@project) do |f| %>

 <div class="boxlab"> <%= f.label :title %>
    <%= f.text_field :title, class: "boxfield" %>
</div>

<div class="boxlab">
  <%= f.label :creator %>
  <%= f.text_field :creator, class: "boxfield" %>
</div>

<div class="boxlab">
  <%= f.label :image %>
  <%= f.file_field :image, class: "boxfield" %>
</div>

<div class="boxlab">
  <%= f.label :description %>
  <%= f.text_field :description, class: "boxfield" %>
</div>

<div class="boxlab"> 
  <%= f.label :readme %>
  <%= f.text_field :readme, class: "boxfield" %>
</div>

<div class="boxlab">
  <%= f.label :embedd %>
  <%= f.text_field :embedd, class: "boxfield" %>
</div>

<div class="boxlab">
  <%= f.label :tags %>
  <%= f.text_field :tags, class: "boxfield" %>
</div>

  <%= f.submit %>
<% end %>
</div>
