
<% if @project.errors.any? %>
  <h3 class="boxlab"><%= pluralize(@project.errors.count, "error") %> prohibited your project from being saved:</h3>

 
  
<% end %>

<div class="form1 form2">
<%= form_for(@project) do |f| %>

 <div class="boxlab">
  <div><%= f.label :title %><br></div>
    <%= f.text_field :title, class: "boxfield" %>
</div>

<div class="boxlab">
 <div><%= f.label :creator %><br></div>
  <%= f.text_field :creator, class: "boxfield" %>
</div>

<div class="boxlab">
  <div><%= f.label :image %><br></div>
  <%= f.file_field :image, class: "boxfield" %>
</div>

<div class="boxlab">
  <div><%= f.label :description %><br></div>
  <%= f.text_area :description, class: "bigfield" %>
</div>

<div class="boxlab"> 
  <div><%= f.label :readme %><br></div>
  <%= f.text_area :readme, class: "bigfield" %>
</div>

<div class="boxlab">
  <div><%= f.label :embedd %><br></div>
  <%= f.text_field :embedd, class: "boxfield" %>
</div>

<div class="boxlab">
  <div><%= f.label :tags %><br></div>
  <%= f.text_field :tags, class: "boxfield" %>
</div>

  <%= f.submit class: "submit" %>
<% end %>

<br><br><br><br><br>
</div>


