 <div class="project">
		<div class="hover-container">
			

			<img src="<%= project.image %>" class="project-image">
			<div class="hover-mask">
				<h3><%= project.title %></h3>
				<h3><%= project.creator %></h3>
				<p><%= project.description %></p>
				<p><%= project.readme %></p>
				<p><%= project.tags %></p>
				<%= link_to "Show Page", project unless action_name == "show" %>	
			</div>
	</div>
</div>
