

<div class="project">
	<div class="hover-container">
		<img src="https://s3.eu-west-2.amazonaws.com/project2sparta<%= project.image.path %>" class="project-image">
		<div class="hover-mask">
			<div class="hover-text">
				<h3><%= project.title %></h3>
				<%= link_to "Show Page", project unless action_name == "show" %>
			</div>	
		</div>
	</div>
</div>


<!-- ADMIN CODE -->
<!-- The checkbox feature for admins. The admin index page will display all projects, and admins have the ability to approve or removal approval -->
<% if signed_in? %>
	<% if current_user.admin %>
		<%= form_for(project) do |f| %>
			<%= f.hidden_field :id, value: project.id %>
	        <%= f.label "Approved" %>
	    	<%= f.check_box(:approved) %>
	        <%= f.submit "Submit", class: "submit2" %>
	    <% end %>
	<% end %>
<% end %>


