<div id="landing">
	<div id="landingText">
		<h2 id="wtext">Welcome to the Sparta Global Project Portfolio Site!</h2>
		<hr id="landingRule">
		<p class="wwtext">Here, you can see all of the work our Spartans have created. Browse through our index to see the full list of projects for viewing, ranging from creating browser-based games to creating fine-tuned applications.
		<br><br>
		Click on the project screenshot to see the full description and a more in-depth explanation of what goes into creating one of our projects.</p>
	</div>
</div>

<!-- <div id="block"></div> -->
<a href="#all-project" class="smoothScroll"><button class="button">See All Projects</button></a>

<% if user_signed_in? %>
	<h3 id="new-project"><%= link_to "New Project", new_project_path %></h3>
<% end %>

<br>
<div class="search">
	<div><%= form_tag(projects_path, :method => "get", id: "search-form") do %></div>
	<%= text_field_tag :search, params[:search], placeholder: "Search Projects", class: "boxfield" %>
	<%= submit_tag " ", :name => nil, class: 'search-button' %>
	<% end %>
	<% if @projects.blank? %>
	<h4 class="search-text">There are no Projects containing the term <%= params[:search] %>.</h4>
	<% end %>
</div>
<a id="all-project"></a>
<div class="projects">
	<%= render @projects, class: "indexpics" %>
</div>
