<div id="landing">
	<div id="landingText">
		<h3>Welcome to the Sparta Global project portfolio web app!</h3>
		<p>On this site you will find a sample of the best that Spartans have to offer. You will find a directory of students and a show page of some of the top projects as voted by the Sparta community!</p>
	</div>
</div>

<!-- <div id="block"></div> -->

<% if user_signed_in? %>
	<h3 id="new-project"><%= link_to "New Project", new_project_path %></h3>
<% end %>

<br>
<div>
	<%= form_tag(projects_path, :method => "get", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search Projects" %>
	<%= submit_tag "Search", :name => nil %>
	<% end %>
	<% if @projects.blank? %>
	<h4>There are no Projects containing the term <%= params[:search] %>.</h4>
	<% end %>
</div>

<div class="projects">
	<%= render @projects, class: "indexpics" %>
</div>
