<h1><%= @project.title %></h1>

<%= render @project %>

<br>

<%= link_to "Back to Home", projects_path, class: "button" %>

<br><br><br><br> 

	<h3><%= @project.creator %></h3>
	<p><%= markdown(@project.description) %></p>
	<p><%= markdown(@project.readme) %></p>
	<p><%= @project.tags %></p>

<br>
<br>


<% if @project.embedd? %>
	<iframe width="1300" height= "800" src="<%= @project.embedd %>"></iframe>
<% end %>



<% if user_signed_in? && current_user.id == @project.user_id %>
	<%= link_to "Edit Page", edit_project_path(@project) %> 

	<br>

	<%= link_to "Delete", @project, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
