<h1>Show Page for <%= @project.title %></h1>

<%= link_to "Back to Home", projects_path %>

  <%= render @project %>
<br>
<br>

<% if user_signed_in? && current_user.id == @project.user_id %>
	<%= link_to "Edit Page", edit_project_path(@project) %> 

	<br>

	<%= link_to "Delete", @project, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

