<h1><%= @project.title %></h1>

<%= render @project %>

<br>

<%= link_to "Back to Home", projects_path, class: "button" %>

<br><br><br><br> 

	<h3><%= @project.creator %></h3>
	<p><%= @project.description %></p>
	<p><%= @project.readme %></p>
	<p><%= @project.tags %></p>


<br>
<br>

<% if user_signed_in? && current_user.id == @project.user_id %>
	<%= link_to "Edit Page", edit_project_path(@project) %> 

	<br>

	<%= link_to "Delete", @project, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

