<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  	<body>
  		<header class="sticky-header">
  			<a href="/projects"><img src="/images/sparta-global-logo-white.svg" id="logo"></a>
  
	 <p>
	    <% if user_signed_in? %>
	      <!--   Logged in as <strong><%= current_user.email %></strong>. -->
	        <div id="logout_edit">
	        	<%= link_to 'Edit Account', edit_user_registration_path, :class => 'navbar-link', class: "submit2" %> |
	       		<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link', class: "submit2"  %>
	       	</div>
	    <% else %>
	    <div id="login_signup">
	        <h5 id="signup"><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link', style: "color:#fff", class: "submit2"  %></h5> |
	        <h5 id="login"><%= link_to "Login", new_user_session_path, :class => 'navbar-link', style: "color:#fff", class: "submit2"  %></h5>
	    </div>
	    <% end %>
	</p>
  
	    <% if notice %>
	        <p class="alert alert-success"><%= notice %></p>
	        <% end %>
	    <% if alert %>
	        <p class="alert alert-danger"><%= alert %></p>
	    
	    <% end %>


      
      </header>
    <%= yield %>
    

  </body>


</html>
